@import './global.css';

body {
    background-color: #282c34;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-stretch: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    width: 100%;
    padding: 10px 0px;
    gap: 50px;
    font-size: 32px;
    font-weight: bold;
    border-bottom: 2px solid #FFFFFF;
    color: #FFFFFF;
    text-align: center;
}

header .header-icons {
    cursor: pointer;
    opacity: 1;
}

header .header-icons:hover {
    opacity: 0.7;
}

#game-board {
    display: grid;
    gap: 10px;
    margin: 0 auto 40px auto;
    padding: 10px;
    background-color: #3b4252;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: max-content;
}

.board-row {
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.board-cell {
    width: 60px;
    height: 60px;
    border: 2px solid #5e6b7f;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: #5e6b7f;
    color: white;
    caret-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

#keyboard {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    max-width: 600px;
    align-items: center;
    margin-top: 20px;
}

.keyboard-keys {
    display: flex;
    gap: 4px;
    justify-content: center;
    width: 100%;
}

.keyboard-keys:nth-child(2) {
    padding-left: 5%;
    padding-right: 5%;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #4c566a;
    color: #eceff4;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    flex-grow: 1;
    box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.4);
    transition: background-color 0.1s ease-out, transform 0.1s ease-out, box-shadow 0.1s ease-out;
    width: 60px;
    min-width: 40px;
    height: 40px;
}

.key.large-key {
    flex-grow: 1.5;
    max-width: 80px;
}

.key:active, .key.pressed {
    background-color: chocolate;
    transform: translateY(-7px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}

#reset-button {
    margin-top: 32px;
    padding: 12px 24px;
    background-color: #a3be8c;
    color: white; 
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    border: none; 
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    display: none;
}

#reset-button:hover {
    background-color: #b4d2a1;
}