@import './global.css';


body {
    background-color: cornflowerblue;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-stretch: 100%;
}

header {
    width: 100%;
    padding: 10px 0px;
    gap: 50px;
    font-size: 32px;
    font-weight: bold;
    border-bottom: 2px solid #FFFFFF;
    color: #FFFFFF;
}

header .header-icons {
    cursor: pointer;
    opacity: 1;
}

header .header-icons:hover {
    opacity: 0.7;
}

#game-board {
    display: grid;
    /* grid-template-columns: repeat(5, 1fr);  O JS agora define isso dinamicamente */
    gap: 5px; /* Espaço entre as células */
    margin-bottom: 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: fit-content; /* Ajusta a largura ao conteúdo */
}

.board-row {
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); O JS na verdade vai controlar isso via o .game-board */
    gap: 5px;
}

.board-cell {
    width: 60px; /* Largura da célula */
    height: 60px; /* Altura da célula */
    border: 2px solid #d3d6da; /* Borda padrão */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em; /* Tamanho da letra */
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: #ffffff; /* Fundo padrão */
    color: #1a1a1b; /* Cor do texto padrão */
    transition: background-color 0.3s ease, border-color 0.3s ease;
    cursor: pointer; /* Indica que é clicável */
}

/* .container{
    background-color: whitesmoke;
    padding: 32px;
    border-radius: 12px;
    box-shadow: 0 4px 6px -1px;
    width: 100%;
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 32px;
    letter-spacing: 0.50rem;
    text-align: center;
}

#tabuleiro{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 32px;
}

#tabuleiro > div{
    display: flex;
    gap: 8px;
}

.tabBox{
    width: 60px;
    height: 60px;
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, transform;
}

.tabBox{

}

#keyboard{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    max-width: 600px;
}

.keyboard-keys{
    display: flex;
    gap: 4px;
    justify-content: center;
}

.keyboard-keys:nth-child(2) {
    padding-left: 5%;
    padding-right: 5%;
}

.key{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: darkgray;
    border-radius: 8px;
} */
